/* body {background-color: rgb(245, 244, 238);} */
.wrapper {width: 100%; margin: 0 auto; font-size: 14px;}
header {position: fixed; top:0; left:0; display: flex; justify-content: space-between; align-items: center; width: 100%; height: 80px; line-height: 80px; padding: 0 20px; z-index: 9;}
header .user {width: 30px; height: 30px; line-height: 30px; border-radius: 5px; overflow: hidden;}
header .user img {width: 100%; vertical-align: middle;}
.content {min-height: -webkit-fill-available; padding: 50px 0 80px;}
nav {position: fixed; bottom: 20px; left: 25px; width: calc(100% - 50px); height: 40px; z-index: 1; display: flex; background-color: #75c190; border-top: 1px solid rgb(211, 218, 208); border-radius: 30px; box-shadow: 0px 2px 8px rgba(117, 193, 144,.29);}
nav .footer-menu {width: 25%; line-height: 90px; text-align: center; color: rgb(75, 72, 41); font-size: 12px; cursor: pointer; background-repeat: no-repeat; background-position: center 10px; background-size: 24px; text-align: center; text-decoration: none;}
nav .footer-menu.active {color: #248f81;}

.btn-back {position: fixed; width: 15px; height: 15px; top: 15px; left: 15px; cursor: pointer; background-image: url("../images/back.png"); background-size: cover; background-position: center; background-color: transparent;}
.pageUp {position: fixed; width: 40px; height: 40px; line-height: 40px; bottom: 60px; right: 10px; cursor: pointer;}
.pageUp img {width: 20px;}

.menu {width: 30px; height: 30px; background-image: url('../images/menu.png'); background-repeat: no-repeat; background-size: 20px; background-position: center; cursor: pointer; box-shadow: 0px 2px 8px rgba(85,85,85,.29); border-radius: 50%;}
.box-menu {display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; flex-direction: column; align-items: center; justify-content: center; background-color: #fff; opacity: 0.8; transition: all 0.3s ease; z-index: 999;}
.box-menu.active {display: flex;}
.box-menu > div {height: 80px; line-height: 80px;}
.box-menu a {display: block; text-decoration: none; font-size: 24px; font-weight: bold; color: #222;}
.box-menu a.active {color: #248f81;}
.box-menu button {position: absolute; top: 10px; right: 60px; width: 30px; height: 30px; background-color: transparent; cursor: pointer;}
.box-menu button img {width: 100%;}

/*
* Villagers
*/
.wrapper-villagers {background-color: rgb(253, 251, 246); border: 1px solid rgb(211, 218, 208); border-radius: 10px; margin: 0 20px;}
.villager:nth-child(n+2) {border-top: 1px solid rgb(211, 218, 208);}
.villager {display: flex; align-items: center; justify-content: center; text-decoration: none; padding: 0 10px; cursor: pointer;}
.villager .vi-image {width: 100px; height: 80px; background-size: auto 60px; background-position: center; background-repeat: no-repeat;}
.villager .vi-info {width: calc(100% - 0px); margin-left: 10px; padding: 15px 15px 15px 0;}
.villager .vi-info dt {font-size: 14px; font-weight: bold; margin-bottom: 8px;}
.villager .vi-info dd {font-size: 12px; color: #786951; opacity: 0.8; margin-top: 5px;}
.villagers-not-found {display: flex; justify-items: center; align-items: center; flex-direction: column; padding: 100px 0; color: #4b4829;}
.villagers-not-found img {margin-bottom: 20px; opacity: 0.6;}

.box-button {display: flex; justify-content: center; margin-top: 20px;}
.btn-page {width: 60px; height: 60px; line-height: 52px; border: 1px solid #248f81; border-radius: 50%; background-color: rgb(253, 251, 246); color: rgb(36, 143, 129);}


.wrapper-villager-detail .villager-detail-inner {width: 100%; background-color: rgb(245, 244, 238); text-align: center;}
.wrapper-villager-detail .villager-detail-inner button {position: absolute; top: 10px; right: 10px; width: 30px; height: 30px; outline: none; background-color: transparent; z-index: 9;}
.wrapper-villager-detail .villager-detail-inner button img {width: 100%; vertical-align: middle;}
.wrapper-villager-detail .villager-image {position: relative; background-color: rgb(253, 251, 246); text-align: center; padding: 30px 0;}
.wrapper-villager-detail .villager-image img {height: 200px}
.wrapper-villager-detail .villager-image span {position: absolute; bottom: -20px; left:calc(50% - 55px); display: inline-block; height: 40px; line-height: 40px; padding: 0 20px; background-color: #fff; font-size: 18px; font-weight: bold; text-align: center; border: 1px solid rgb(211, 218, 208); border-radius: 30px;}
.wrapper-villager-detail .villager-image span i {font-size: 14px; font-style: normal; font-weight: 400; opacity: 0.6; margin-left: 5px;}
.wrapper-villager-detail p {width: 100%; padding: 45px 0 30px; text-align: center;}
.wrapper-villager-detail .box-info {display: inline-grid; grid-template-columns:  1fr 1fr; grid-column-gap: 20px; grid-row-gap: 20px; width: 100%; padding: 0 20px 20px;}
.wrapper-villager-detail .box-info dl {background-color: rgb(253, 251, 246); padding: 15px 0; border: 1px solid rgb(211, 218, 208); font-size: 14px; border-radius: 10px; color: #4b4829;}
.wrapper-villager-detail .box-info dt {opacity: 0.8; font-size: 12px;}
.wrapper-villager-detail .box-info dd {margin-top: 10px; font-size: 16px;}
.form-comment {position: relative; padding: 0 20px;}
.form-comment input {width: 100%; height: 35px; line-height: 35px; padding: 0 45px 0 10px; outline: none; box-sizing: border-box; background-color: rgb(253, 251, 246); border: 1px solid rgb(211, 218, 208); border-radius: 10px;}
.form-comment button {position: absolute; top: 2px; right: 25px; height: 30px; border-radius: 5px; background-color: transparent;}
.form-comment button.active {background-color: transparent; color: rgb(56, 143, 133);}
.list-comment {margin-top: 5px; color: #4b4829;}
.list-comment li {position: relative; line-height: 20px; background-color: rgb(226, 235, 232); padding: 10px 10px; border-radius: 10px; margin-bottom: 5px; color: #4b4829;}
.list-comment li div {font-size: 12px; margin: 5px 0 0; color: #9a9a9a;}
.list-comment .comment-footer {display: flex; justify-content: space-between;}
.list-comment button {position: relative; top: auto; right: auto; height: auto; line-height: auto; color: rgb(56, 143, 133);}
/*
* Fishes
*/
.wrapper-creature {background-color: rgb(253, 251, 246); border: 1px solid rgb(211, 218, 208); border-radius: 10px; margin: 20px;}
.creature {position: relative; display: flex; align-items: center; flex-wrap: wrap; justify-content: center; text-decoration: none; padding: 0 10px; cursor: pointer; overflow: hidden;}
.creature:nth-child(n+2) {border-top: 1px solid rgb(211, 218, 208);}
.creature .creature-image {width: 100px; height: 80px; background-size: auto 60px; background-position: center; background-repeat: no-repeat;}
.creature .creature-info {width: calc(100% - 120px); margin-left: 10px; padding: 15px 15px 15px 0;}
.creature .creature-info dd {line-height: 24px; font-size:12px;}
.creature .creature-info dd:nth-child(1) {font-weight: bold; font-size:14px;}
.creature .creature-info dd:nth-child(2) {position: relative; display: inline-block; line-height: 18px; margin-top: 5px; color: #786951;}
.creature .creature-info dd span {display: inline-block; line-height: 22px; margin-right: 3px; padding: 0 10px; text-align: center; background-color: #f5c24c; border-radius: 30px; vertical-align: middle;}
.creature .creature-detail {position: relative; width: 100%; padding: 0 20px 20px; overflow: hidden;}
.creature .creature-detail dt {float: left; margin-top: 7px; width: 50px; line-height: 20px; font-size: 12px; color: #777; padding-left: 5px;}
.creature .creature-detail dt img {width: 18px; vertical-align: middle;}
.creature .creature-detail dd {float: left; width: 100%; line-height: 20px;}
.creature .creature-detail dd:nth-child(1) {width: 100%; color: #786951; margin-bottom: 10px;}
.creature .creature-detail dd.months {display: grid; grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr; grid-column-gap: 5px; grid-row-gap: 5px;}
.creature .creature-detail dd span {display: inline-block; background-color: #e1f2ec; border-radius: 2px; color:#4b4829; text-align: center; opacity: 0.4;}
.creature .creature-detail dd span.active {opacity: 1;}
.creature .creature-detail dd.time {font-weight: 500;}
.creature .creature-detail dd.price {position: absolute; width: auto; right: 20px; bottom: 20px;}
.creature .tag-gain {position: absolute; top: 22px; right: 30px; line-height: 36px; display: inline-block; width: 35px; height: 35px; border: 2px solid #248f81; border-radius: 50%; text-align: center;}
.creature .tag-gain.active {background-color: #248f81;}
.creature .tag-gain img {width: 16px;}

/*
* Events
*/
.wrapper-events {background-color: rgb(253, 251, 246); border: 1px solid rgb(211, 218, 208); border-radius: 10px; margin: 20px;}
.wrapper-events:nth-child(2) {margin-top: 10px; min-height: 150px;  padding: 20px;}
.wrapper-events dl {display: flex; flex-wrap: wrap;}
.wrapper-events dt {width: 50px; line-height: 35px; text-align: center;}
.wrapper-events dt img {width: 26px; vertical-align:f middle;}
.wrapper-events dd {width: calc(100% - 50px); line-height: 35px;}
.wrapper-events .loading {display: flex; height: 100px; align-items: center; justify-content: center;}

/*
* loading
*/
.loading-villagers > div:nth-child(n+2) {border-top: 1px solid rgb(211, 218, 208);}
.loading .vi-image {position: relative; width: 80px; height: 60px; margin: 10px; background-color: #eee; overflow: hidden;}
.loading .vi-info {padding-top: 10px;}
.loading dd {position: relative; height: 18px; background-color: #eee; overflow: hidden;}
.loading dd:nth-child(n+2) {margin-top: 3px;}

.loading dd:after {content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.08), rgba(0, 0, 0, 0)); transform: translateX(-100%); -webkit-animation: loading 1.5s infinite; animation: loading 1.5s infinite;}

/*
* search
*/ 
.wrapper-search {margin: 20px 20px 20px;}
.wrapper-search select {width: 120px; height: 30px; line-height: 32px; margin-right: 3px; padding: 0 10px; color: #4b4829; background-image: url('../images/page-up.png'); background-size: 10px; background-repeat: no-repeat; background-position: 98px center; background-color: #e9e8de; border: 0; border-radius: 5px; outline: none; -webkit-appearance:none; -moz-appearance:none; appearance:none; box-sizing: border-box; vertical-align: middle;}
.wrapper-search input {width: calc(100% - 246px); height: 30px; line-height: 32px; padding: 0 10px; border-radius: 5px; background-color:rgb(253, 251, 246); border: 1px solid rgb(211, 218, 208); outline: none; box-sizing: border-box; vertical-align: middle;}

@keyframes loading {
100% {
    transform: translateX(100%);
}
}
  
  