@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Varela+Round&display=swap');

/* - Variables - */

:root {
  --color-blue: #0AB5CD;
  --color-light-blue: #5ECEDB;

  --bg-color: #DEF2D9;
  --bg-dot-color: #FFF;

  --shadow-3: rgba(0, 0, 0, 0.03);
  --shadow-5: rgba(0, 0, 0, 0.05);
  --shadow-6: rgba(0, 0, 0, 0.06);
  --shadow-8: rgba(0, 0, 0, 0.08);
  --shadow-9: rgba(0, 0, 0, 0.09);
  --shadow-10: rgba(0, 0, 0, 0.10);
  --shadow-15: rgba(0, 0, 0, 0.16);
  --shadow-16: rgba(0, 0, 0, 0.16);
  --shadow-20: rgba(0, 0, 0, 0.20);

  --center-bg-color: #FFF;

  --wave-1: rgba(255, 255, 255, 0);
  --wave-2: rgba(255, 255, 255, 0.2);
  --wave-3: rgba(255, 255, 255, 0.4);
  --wave-4: rgba(255, 255, 255, 0.6);

  --nook-phone-bg-color: #F5F8FF;
  --nook-phone-text-color: #686868;

  --dialog-bg-color: #FFFAE5;
  --dialog-text-color: #837865;

  --dialog-name-bg-color: #FF9A40;
  --dialog-name-text-color: #BA3B1F;

  --chart-fill-color: var(--bg-color);
  --chart-line-color: rgba(0, 0, 0, 0.1);
  --chart-point-color: rgba(0, 0, 0, 0.1);

  --select-text-color: var(--dialog-text-color);
  --select-border-color: var(--bg-color);
  --select-bg-color-hover: #EBFEFD;

  --italic-color: #AAA;

  --form-h6-text-color: #845E44;

  --radio-hover-bg-color: var(--nook-phone-bg-color);
  --radio-checked-text-color: #FFF;

  --input-bg-color: #F3F3F3;
  --input-focus-bg-color: white;
  --input-focus-text-color: var(--color-blue);

  --input-now-bg-color: var(--dialog-name-bg-color);
  --input-now-text-color: var(--dialog-name-text-color);

  --button-text-color: var(--nook-phone-text-color);
  --button-reset-text-color: #E45B5B;

  --table-range0: hsl(140, 80%, 85%);
  --table-range1: hsl(90, 80%, 85%);
  --table-range2: hsl(60, 80%, 85%);
  --table-range3: hsl(30, 80%, 85%);
  --table-range4: hsl(0, 80%, 85%);
}

[data-theme="dark"] {
  --bg-color: #1A1A1A;
  --bg-dot-color: #222;

  --shadow-3: rgba(255, 255, 255, 0.03);
  --shadow-15: rgba(255, 255, 255, 0.03);

  --center-bg-color: #101010;

  --wave-1: rgba(16, 16, 16, 0);
  --wave-2: rgba(16, 16, 16, 0.2);
  --wave-3: rgba(16, 16, 16, 0.4);
  --wave-4: rgba(16, 16, 16, 0.6);

  --nook-phone-bg-color: #000F33;
  --nook-phone-text-color: #CCC;

  --dialog-bg-color: #252422;
  --dialog-text-color: #BCB5A9;

  --dialog-name-bg-color: #BA3B1F;
  --dialog-name-text-color: #FF9A40;

  --chart-fill-color: #2D5F21;
  --chart-line-color: rgba(200, 200, 200, 0.4);
  --chart-point-color: rgba(200, 200, 200, 0.6);

  --select-text-color: #837865;
  --select-border-color: var(--bg-color);
  --select-bg-color-hover: #EBFEFD;

  --italic-color: #666;

  --form-h6-text-color: #E18B51;

  --radio-hover-bg-color: #00174D;
  --radio-checked-text-color: #FFF;

  --input-bg-color: #333;
  --input-focus-bg-color: #999;
  --input-focus-text-color: var(--radio-hover-bg-color);

  --button-text-color: var(--nook-phone-text-color);
  --button-reset-text-color: #E45B5B;

  --table-range0: hsl(140, 80%, 27%);
  --table-range1: hsl(90, 80%, 20%);
  --table-range2: hsl(60, 80%, 20%);
  --table-range3: hsl(30, 80%, 20%);
  --table-range4: hsl(0, 80%, 22%);
}

.wrapper-turnip {
  background-color: rgb(253, 251, 246);
  border: 1px solid rgb(211, 218, 208);
  border-radius: 10px;
  padding: 20px;
}

.wrapper-turnip dl {
  margin-bottom: 30px;
}

.wrapper-turnip dl:not(.price) dd {
  margin-top: 10px;
}

.wrapper-turnip dl dt {
  color: #4b4829;
  opacity: 0.7;
}

.wrapper-turnip dl dd input[type="radio"] {
  display: none;
}

.wrapper-turnip dl dd input[type="radio"] + label {
  display: inline-block;
  width: calc(20% - 4px);
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: var(--input-bg-color);
  color: #888;
  border-radius: 5px;
  cursor: pointer;
}

.wrapper-turnip dl dd span:nth-child(n+2) {
  margin-left: 5px;
}

.wrapper-turnip dl dd input[type="radio"]:checked + label {
  background-color: var(--input-focus-text-color);
  color: #fff;
}

.wrapper-turnip dl dd input[type="number"] {
  width: 100px;
  border: 0;
  border-radius: 50px;
  line-height: 32px;
  text-align: center;
  font-size: 14px;
  outline: none;
  font-weight: bold;
  box-shadow: 0 1px 6px var(--shadow-5),0 3px 6px var(--shadow-9);
}

.wrapper-price {
  width: -webkit-fit-content;
  margin: 0 auto;
}

.wrapper-turnip dl.price {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.wrapper-turnip dl.price dt {
  width: 80px;
}

.wrapper-turnip dl.price dd:nth-child(3) {
  margin-left: 15px;
}

.wrapper-turnip .box-btn {
  text-align: right;
}
.wrapper-turnip button {
  margin-left: 5px;
  width: 80px;
  height: 35px;
  line-height: 32px;
  border-radius: 5px;
  background-color: #248f81;
  color: #fff;
}

.wrapper-turnip button.reset {  
  background-color: #ed2424;
}

.pattern-wrapper {
  display: flex;
}

.pattern-wrapper dl {
  width: 33.33%;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}